@{
    ViewBag.Title = "Acerca de Data Center Urad.";
}
<div id="viewport">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <p>Esta web esta eleaborada en C#. por Henry Acevedo Y Luis España. Ingenieria electronica y telecominicaciones, Universidad autonoma de occidente. </p>
</div>
<script src="~/Scripts/ScriptDashboard.js"></script>
<link rel=StyleSheet href="~/Content/StylesDashboard.css" type="text/css">