@{
    ViewBag.Title = "Contacto";
}
<div>
    <div id="viewport">
        <h2>@ViewBag.Title.</h2>

        <address>
            Universidad Autonoma De Occidente, Facultad de ingenieria y telecuminicaciones<br />
            Cll 25#115-85, km 2 Vía Cali – Jamundí<br />
            <abbr title="Telefono">Tel:</abbr>
            +57 (602) 318 8000, ext. 11190
        </address>

        <address>
            <strong>Desarrollador:</strong>   <a href="mailto:henry.acevedo@uao.edu.co">henry.acevedo@uao.edu.co</a><br />
            <strong>Desarrollador:</strong> <a href="mailto:luis.espana@uao.edu.co">luis.espana@uao.edu.co</a>
        </address>
    </div>
</div>
<script src="~/Scripts/ScriptDashboard.js"></script>
<link rel=StyleSheet href="~/Content/StylesDashboard.css" type="text/css">